import(GenomicRanges)
import(BiocGenerics,except = c(var))
import(TxDb.Hsapiens.UCSC.hg19.knownGene)
import(methods)
import(locfdr)
import(glmnet)
import(msm)
import(splines)
import(SNPlocs.Hsapiens.dbSNP142.GRCh37)
importFrom(org.Hs.eg.db,org.Hs.egSYMBOL)
importFrom(GenomeInfoDb,seqlevels,keepSeqlevels)
importFrom(AnnotationDbi,mappedkeys)
importFrom(GenomicFeatures,transcriptsBy)
importFrom(S4Vectors,Rle,runValue,runLength,queryHits)
importFrom(IRanges,IntegerList,IRanges,IRangesList)
importFrom(BSgenome,snpsById)
importFrom(distr,AbscontDistribution,Norm,p,d)
importFrom(stats,na.omit,aggregate,approxfun,dnorm,optimize,pnorm,predict,qnorm,var,formula,glm,integrate,optim,poisson,poly,uniroot)
importFrom(data.table,fread)
importFrom(mixtools,normalmixEM)
importFrom(utils,head,tail)
importFrom(graphics,curve)
export(anno.create,create.anno.mat,anno.merge,omit,prior.adjust)
exportClasses(annotatedSNPset)
exportMethods(getDF,getEQ,getDIM,getMAT)
useDynLib(GKnowMTest)

